<aside class="sidebar fixed">
  <div class="brand-logo">
    <strong>VPBUSZ</strong>
  </div>
  
  <ul ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-blur-on">Főoldal</a>
    <li menu-toggle path="/admin" name="Admin" icon="md md-place">
      <a menu-link href="#/admin/stops">Állomások</a>
      <a menu-link href="#/admin/buses">Buszok</a>
      <a menu-link href="#/admin/routes">Útvonalak</a>
    </li>
    <a menu-link href="#/dashboard" icon="md md-place">Menu 1</a>
    <a menu-link href="#/dashboard" icon="md md-place">Menu 2</a>
    <li menu-toggle path="/pages" name="Menu 3" icon="md md-favorite-outline">
      <a href="">Sub menu</a>
    </li>
  </ul>
</aside>
