<div class="dashboard grey lighten-3" ng-controller="DashboardController">
	<div class="row no-gutter">
		<div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">
			<div class="p-20 clearfix">
				<h4 class="grey-text">
					<i class="md md-dashboard"></i>
					<span class="hidden-xs">Menetrend kereső</span>
				</h4>
			</div>

			<div class="p-20 no-p-t">
                <div class="row gutter-14">
                    <div class="col-md-6">
                        <!--
                        <input class="form-control" ng-model="searchText" style="background-color:#fff;padding:0 10px;margin:10px 0px" placeholder="Keresés...">
                        -->
                        <angucomplete-alt id="searchText"
                                          placeholder="Honnan?"
                                          pause="100"
                                          selected-object="selectedOrig"
                                          local-data="stopList"
                                          search-fields="name"
                                          title-field="name"
                                          minlength="0"
                                          input-class="form-control form-control-small" />
                    </div>
                    <div class="col-md-6">
                        <angucomplete-alt id="dest"
                            placeholder="Hova?"
                            pause="100"
                            selected-object="selectedDest"
                            local-data="stopList"
                            search-fields="name"
                            title-field="name"
                            minlength="0"
                            input-class="form-control form-control-small" />
                    </div>
                </div>
				<div class="row gutter-14">
					<div class="col-md-12">
						<ng-map id="mainMap" center="47.0923658, 17.9123803" zoom="13" style="width:100%;height:600px;">
                            <custom-marker class="stopmarker" ng-repeat="stop in stopList | filter:isShowStop" position="{{stop.gpsLat}},{{stop.gpsLong}}" on-click="selectStop(stop)">
								<img src="/app/img/busstop.png" alt="" ng-show="isShowStop(stop)" />
                            </custom-marker>

                            <marker ng-repeat="bus in busList" position="{{bus.gpsLat}},{{bus.gpsLong}}" on-click="selectBus(bus)">
                            </marker>
							
							<shape name="polyline" id="foo"
								path="{{drawPath}}"
								stroke-color="#FF0000"
								stroke-opacity="0.6"
								stroke-weight="3">
							</shape>
							
							<info-window id="infoWindow" position="{{selectedStop.gpsLat}},{{selectedStop.gpsLong}}">
								<div>
									<div style="width:24px;float:left;">
										<img src="/app/img/busstop.png" alt="">
									</div>
									<div style="float:left;">								
										<h4 style="margin:5px;">{{selectedStop.name}}</h4>
									</div>
								</div>
							</info-window>
							
							<info-window id="busWindow" position="{{selectedBus.gpsLat}},{{selectedBus.gpsLong}}">
								<div>
									<div>								
										<h4 style="margin:10px;">{{selectedBus.lineNumber}}. busz</h4>
                                        <button class="btn btn-primary ng-binding" ng-click="showBusInfo()">Menetrend</button>
									</div>
								</div>
							</info-window>
						</ng-map>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-3">
				<ul style="list-style-type:none;padding:0;">
					<li ng-repeat="bus in busList | orderBy:'lineNumber'" style="float:left;margin:5px;">
						<button class="btn btn-primary" ng-click="selectBus(null,bus)">{{bus.lineNumber}}. busz</button>
					</li>
				</ul>
				<div class="clearfix clear"></div>
				<!--<div class="cyan">{{warningMessage}}</div>-->
			</div>
		</div>
    </div>
</div>
