<aside class="sidebar fixed">
  <div class="brand-logo">
    <strong>VPBUSZ</strong>
  </div>

  <p style="text-align:center;" ng-show="$root.user">{{$root.user.email}}</p>
  
  <ul ng-cloak>
      <li><a menu-link href="#/dashboard" icon="md md-dashboard">Főoldal</a></li>
      <li><a menu-link href="#/admin/login" icon="md md-people">Admin</a></li>
      <li menu-toggle path="/admin" name="Admin" icon="md md-place" ng-show="$root.user">
          <ul>
              <li><a menu-link href="#/admin/users" icon="md md-people">Felhasználók</a></li>
              <li><a menu-link href="#/admin/stops" icon="md md-traffic">Megállók</a></li>
              <li><a menu-link href="#/admin/buses" icon="md md-directions-bus">Buszok</a></li>
          </ul>
      </li>
  </ul>
</aside>
